body{
    background-color: #f4f6f8;
    margin: 0;
}

.app{
    display: flex;
    flex-direction: row;
    margin: .5rem;
    min-height: calc(100vh - 1rem);
}

.platform{
    flex: 1;
    border: 2px solid #ccc;
    border-radius: 2rem;
    background-color: white;
}

.sidemenubar{
    padding: 1rem;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}